html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Area for styling Navigation BAR -> */

.NavBar {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #353738;
  background-size: 20px 20px;
  
}

.container-fluid {
  background-color: #353738;
}

/* Area for styling Navigation BAR <- */

@keyframes HomeStyleAnim {
  from {color: #353738;}
  to {color: white}
}

/* Area for styling Home Page -> */

.HomeButtonStyle {
  font-size: 25px;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-align: center;
  animation-name: HomeStyleAnim;
  animation-duration: 6s;
}

.HomePageSyle {
  font-size: 25px;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  text-align: center;
  background-image: url(./Assets/doodle.jpg);
  background-size: cover;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.HomeDivStyle {
  animation-name: HomeStyleAnim;
  animation-duration: 6s;
  bottom: 0;
  position: fixed;
}

.HomeBottomTextStyle {
  width: 6vw;
  font-weight: bold;
}

.HomeBackround {
  height: 46px;
  flex-grow: 4;
  margin-left: 20px;
}

.BigPicture {
  display: flex;
  width: 100%;
  height: 100%;

}

.Carousel {
  position: relative;
  justify-content: center;
  width: 45vw;
  position: absolute;
  right: 0;
  margin-right: 125px;
  margin-top: 125px;
}


.HomeCarFirstImg {
  width: 100%;
  max-width: 500px;
  max-height: 600px;
}

/* Area for styling Home Page <- */

/* Area for styling Hobbies Page -> */

.HobbiesButtonStyle {
  font-size: 25px;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-align: center;
  animation-name: HomeStyleAnim;
  animation-duration: 6s;
}

.HobbieMidBorder {
  position: relative;
  background-color: #353738;
  height: 7vh;
}

.HobbieSelect {
  padding-top: 5px;
  display: flex;
  font-size: 2vw;
  color: white;
  justify-content: center;
  align-items: center;
}


.HobbieBackground {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(./Assets/full.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

.GlowAnimation {
  position: absolute;
  width: 17vw;
  bottom: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.GlowAnimation:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.HobbieBackImgStyle {
  max-width: 100%;
  width: 100vw;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  width: 8vw;
  background-image: url(./Assets/maybe/chipsetglow.jpg);
  background-size: cover;
  border: 1px black solid;
}



.HobbieNav {
  display: flex;
  width: 100%;
  height: 260px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #353738;
  padding-top: 30px;
}

.SportsNav {
  font-size: 40px;
  background-image: url(./Assets/box2.jpg);
  background-size: cover;
  width: 33%;
  height: 100%;
  text-align: center;
  
}

.ItNav {
  font-size: 40px;
  background-image: url(./Assets/IT.jpeg);
  background-size: cover;
  width: 33%;
  height: 100%;
  text-align: center;
  
}

.MoviesNav {
  font-size: 40px;
  background-image: url(./Assets/moviefilm.jpg);
  background-size: cover;
  width: 33%;
  height: 100%;
  text-align: center;
  
}


.HobbieLinkStyle {
  color: #ffffff;

}

.SportsPageStyle {
  position: relative;

  
}


.SportsParStyle {
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #dfdfdf;
  text-align: center;
  background-image: url(./Assets/blackfade.jpg);
  background-size: cover;
}

.BoxStoryPar {
  font-size: 1vw;
  background-image: url(./Assets/blackfade.jpg);
  color: #dfdfdf;
  padding: 10px 10px 10px;
  margin-bottom: 0px;
}

.SportsStory {
  display: flex;
  width: 100%;
}

.FootballStoryPar {
  font-size: 1vw;
  background-image: url(./Assets/blackfade.jpg);
  color: #dfdfdf;
  padding: 10px 10px 10px;
}

.SportsPageStyle {
  background-color: grey;

}

.ITPageStyle {
 position: relative;
}

.ITPageStyle:hover {
  -webkit-transition: grayscale(0);
  transition: grayscale(0);
}

.ITMidBorder {
  background-color: #353738;
  height: 5vh;
}

.ITFloatingDiv {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-image: url(./Assets/chipset.jpg);
  background-size: cover;
  height: 75vh;
}





.ITElement1Img {
  max-width: 100%;
    max-height: 100%;
}

.element1 {
  display: inline-block;
  height: 21vh;
  width: auto;
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-right: 100px;
  margin-left: 5px;
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
  
}

.element2 {
  display: inline-block;
  height: 21vh;
  width: auto;
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-right: 100px;
  margin-left: 100px;
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
 
}

.element3 {
  display: inline-block;
  height: 21vh;
  width: auto;
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-right: 5px;
  margin-left: 100px;
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
  
}

@keyframes skew {
  0% {
    transform: skew(20deg, 20deg);
  }
  100% {
    transform: skew(-20deg, -20deg);
  }
}




/* .ITBorderImg {
  background-image: url(./Assets/hexa3.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
} */

.ITBorderImg:hover {
  -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


/* Area for styling Hobbies Page <- */



/* Area for styling Contact Page -> */

.ContactsButtonStyle {
  font-size: 25px;
  color: white;
  letter-spacing: 5px;
  animation-name: HomeStyleAnim;
  animation-duration: 6s;
}


.ContactPageStyle {
background-image: url(./Assets/ContactImgBg.jpg);
background-size: cover;
width: 100%;
height: 100%;
position: absolute;
}

.ContactContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
}



.BoxStyle {
background-image: url(./Assets/signal.jpg);
background-size: cover;
width: 100%;
height: 7%;
position: absolute;
bottom: 0;
}

.Hstyle {
  text-align: center;
  color: #dfdfdf;
  text-transform: uppercase;
  background: linear-gradient(to right, #ffffff 10%, rgb(54, 54, 54) 50%, #ffffff 60%);
  background-size: auto auto;
	background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 3s linear infinite;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.ContactInfo {
  
  margin-top: 150px;
  position: relative;
}

.ContactInput {
  margin-top: 150px;
  
  position: relative;
}


.ContactInfoBackground {

  max-width: 700px;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  position: relative;
}


.ContactInfoBackground:hover {
  -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


.ContactInputBackground {
  max-width: 700px;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
}

.ContactInputBackground:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.InfoTextStyle {
  font-size: 2vw;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 10px;
}



.ContactPstyle {
  font-size: 1vw;
  padding-top: 10px;
  color: #dfdfdf;
  text-overflow: ellipsis;
}

.TextInfoStyle {
  position: absolute;
  top: 1em;
  left: 3em;

}

.TextInputStyle {
  position: absolute;
  top: 1em;
  left: 3em;
  font-size: 1vw;
}

.InputParagraphStyle {
  font-weight: bold;
}

/* Area for styling Contact Page <- */




/* Area for styling About page -> */

.AboutButtonStyle {
  font-size: 25px;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-align: center;
  animation-name: HomeStyleAnim;
  animation-duration: 6s;
}

.AboutPageStyle {
  position: relative;
  width: 100vw;
}


.AboutTopStyle {
  text-align: center;
  width: 100vw;
  background-image: url(./Assets/matrix.jpg);
  background-size: cover;
  height: 13vh;
  border-top: 15px black solid;
  border-bottom: 15px black solid;
}

.AboutH1Style {
font-size: 3vw;
color: #dfdfdf;

}

.AboutContainer {
  background-image: url(./Assets/matrix.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.AboutPopUp1 {
  display: flex;
  border: black 10px solid;
  justify-content: center;

}


.AboutPopUpStyle1 {
  color: #000000;
  font-size: 2vw;
  background-image: url(./Assets/simple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30vw;
}

.ModalButtonStyle {
  color: #000000;
  font-size: 2vw;
  background-image: url(./Assets/simple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 15vw;
}

.AboutPopUpStyle2 {
  color: #000000;
  font-size: 2vw;
  background-image: url(./Assets/simple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30vw;

}

.HtmlStyle {
  display: flex;
  justify-content: center;
  
}

.AboutComponentButton {
  background-image: url(./Assets/simple.jpg);
  background-size: cover;
  width: 24vw;
  height: 3vh;
  margin: 23px 23px 23px; 
  border: 2px black solid;
}

.AboutComponentsH1 {
  font-size: 1vw;
  color: #dfdfdf;
  text-align: center;
  margin: 0px;
  padding: 0px;
}


:any-link:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

:any-link:active {
  color: #dfdfdf;
  text-decoration: none;
}

:any-link:visited {
  color: #dfdfdf;
  text-decoration: none;
}


/* Area for styling About page <- */

